/*  Header
    ===

    Structure
    ---
*/

    .site-header{
        width: 100%;
        margin-bottom: 75px;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,.10);
        position: relative;
    }

/*  Logo & Container
*/
    .site-logo-container{
        margin: 25px 0 35px;
    }

/*

    User Control Panel
    ---
*/

    .user-control{
        margin-top: 40px;
    }