/*  Main Stylesheet
    ===
*/

    body{
        background: #FFF linear-gradient(to bottom, #F1F1F1 0%, #FFFFFF 80%) no-repeat;
        height: 100%;
        width: 100%;
    }

/*  Login Page
    ===

    Container Setup
    ---
*/

    .container{
        max-width: 1024px;
        height: auto;
    }

    .container-small{
        width: 400px;
        height: auto;
    }

    @media only screen and (max-width: 1024px) {
        div[class^="container"]{
            width: 100%;
        }
    }

    .container-centered{
        position: relative;
        display: block;
        margin: 150px auto 75px;
    }

    @media only screen and (max-width: 1024px) {
        .container-centered{
            margin: 20px 0 0;
            padding: 40px;
        }
    }


/*  Footer
    ---
*/

    footer{ text-align: center; }

    .copyright{
        margin-bottom: 20px;
        color: #999;
    }

    .github{
        text-indent: -9999px;
        display: block;
        background: url('../img/github.png') no-repeat;
        width: 32px;
        height: 32px;
        margin: 0 auto 20px auto;
        opacity: .2;
    }