/*  Main Stylesheet
    ===
*/

    body{
        background: #FFF linear-gradient(to bottom, #F1F1F1 0%, #FFFFFF 80%) no-repeat;
        height: 100%;
        width: 100%;
    }

/*  Login Page
    ===

    Container Setup
    ---
*/

    .container{
        width: 400px;
        height: auto;
    }

    @media only screen and (max-width: 480px) {
        .container{
            width: 100%;
        }
    }

    .container-centered{
        position: relative;
        display: block;
        margin: 175px auto 100px;
    }

    @media only screen and (max-width: 480px) {
        .container-centered{
            margin: 20px 0 0;
            padding: 40px;
        }
    }


/*  Footer
    ---
*/

    footer{ text-align: center; }

    .copyright{
        padding-bottom: 20px;
        color: #999;
    }

    .github{
        text-indent: -9999px;
        display: block;
        background: url('../img/github.png') no-repeat;
        width: 32px;
        height: 32px;
        margin: 0 auto;
        opacity: .2;
    }


/*  Message
    ---
*/

    .message.error{
        border: 2px solid #CCC;
        padding: 10px;
        margin-bottom: 20px;
    }