/*  Public Pages
    ===

    Styles for public facing pages.
*/

    body{ background: #856b5f url('../img/splash.jpg') center / cover; }

    @media only screen and (max-width: 480px) {
        body{
            background: #fbfbfb;
        }
    }



/*  Splash Page
    ===

    Container Setup
    ---
*/

    .container{
        width: 400px
    }

    @media only screen and (max-width: 480px) {
        .container{
            width: 100%;
        }
    }

    .container-centered{
        position: absolute;
        display: block;
        top: 20%;
        left: 50%;
        margin-left: -200px;
    }

    @media only screen and (max-width: 480px) {
        .container-centered{
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: 0
        }
    }

    .copyright{
        color: white;
        line-height: 75px;
    }

    @media only screen and (max-width: 480px) {
       .copyright{
            color: #555;
        }
    }


/*  Box
    ---

    <div class="box box-white">
        ...
    </div>
*/

    .box{
        background: white;
        position: relative;
    }

    .box-header{
        background: #856b60;
        padding: 35px 20px;
    }

    .box-footer{
        background: #fbfbfb;
        padding: 35px 20px;
    }