/*  Typograhy
    ===

    Setup
    ---
*/

    body{
        font-family: "Roboto";
        font-size: 14px;
        color: #5a5a5a;
    }

/*  Headings
    ---
*/

    h1{
        font-size: 28px;
        font-weight: 300;
        color: #5A5A5A;
        padding-bottom: 15px;
        margin-bottom: 50px;
        border-bottom: #dcdcdc 1px solid;
    }

    h2, h3, h4, h5, h6{}

/*  Paragraphs
    ---
*/

    p{
        line-height: 1.3em;
        margin-bottom: 10px;
    }

        p:last-child{
            margin-bottom: 0px;
        }

/*  List Types
    ---
*/
    ul,
    ol{
        line-height: 1.3em;
    }