/*  Variables
    ===

    Color
    ---
*/
    @primary:           #f66051;
    @primary-hover:     #e45041;

    @accent:            #ff7e00;

    @body:              #888;

    /* Validation */
    @error:             #d85351;
    @success:           #5fb04f;


/*  Break-points
    ---
*/
    @tablet:            1024px;
    @mobile:            480px;
