/*  Variables
    ===

    Color
    ---
*/
    @primary:           #f66051;
    @primary-hover:     #e45041;

    @accent:            #ff7e00;

    @body:              #888;

    /* Validation */
    @error:             #d85351;
    @success:           #5fb04f;

    /* Grey Pallet */
    @grey-light:        #f0f0f0;
    @grey-light-alt:    #ececec;


/*  Break-points
    ---
*/
    @tablet:            920px;
    @mobile:            680px;
