/*  Components
    ===

    Notifications
    ---

    <div class="notifications">
        // Echo element.
    </div>
*/
    .notifications{
        position: absolute;
        right: 74px;
        top: -60px;
    }

        @media only screen and (max-width: 480px) {

            .notifications{
                position: relative;
                margin-bottom: 20px;
                right: 0;
                top: 0;
            }
        }

/*  Message
    ---

    <div class="message">
        <p>Your message.</p>
    </div>
*/

    .message{
        padding: 15px;
        background: white;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .10);
        min-width: 200px;
        cursor: pointer;
    }

    .message:hover{
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, .12);
    }

    .message:active{
        background: #ffffff;
        background: linear-gradient(150deg,  #ffffff 0%,#f9f9f9 100%);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .12);
    }

/*  Message Type
    ---

    <div class="message error">
        ...
    </div>
*/
    .message.error{
        border: 1px solid #fbbeb7;
    }

    .message.success i{
        color: #97bf74;
    }

    .message.notice i{
        color: #e8c99c;
    }

/*  Maps
    ===

    Map Basic
    ---

    <div id="map" data-map-type="baisc" data-map-event="pan"></div>
*/
    #map{
        width: 100%;
        height: 100%;
    }

/*  Map Container
    ---

    <div class="map-container-type">
        <div id="map"></div>
    </div>
*/
    .map-container{
        box-shadow: -1px -1px 0px rgba(0,0,0,.15);
        width:740px;
        height: 500px;
    }

